<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>New</title>
</head>
<body>
    <div class="container bg-info text-white w-50 p-3" style="margin-top: 10%;">
        <div class="row text-center text-monospace ml-3 mr-3" >
                <h1>Error {{ message }}</h1>
        </div> 
        <div class="row"> 
            <div class="col text-right">
                <a class="text-dark text-monospace" href="..\..\sign_in">sign_in</a>
            </div>
            <div class="col">
                <a class="text-dark text-monospace" href="..\..\">index</a>
            </div>
        </div>       
    </div> 
</body>
</html> 
